body,.mui-content{
	background: #fff;
}
.mui-bar-nav{
 box-shadow: none;
 -webkit-box-shadow: none;
}
.mui-bar-nav a {
	color: #685a5a;
}
.mui-bar-nav .mui-title{
	color: #685a5a;
}
header.mui-bar{
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
  box-shadow: 0 0 1px rgba(0,0,0,.85);
}
.mui-title{
	font-weight: bold;
}
header.mui-bar .mui-icon-plus {
	color: rgba(0,0,0,.95);
}
.mui-content > .mui-table-view:first-child{
 margin-top: 0;
}
.empty-container{
 	text-align: center;
 	padding: 20px;
 	color:gray;
}
/*.mui-input-row span{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.1;
    float: right;
    width: 65%;
    margin-bottom: 0;
    padding-left: 0;
    border: 0;
    padding: 11px 0;
}*/
.mui-segmented-control{
	border-radius: 0;
}
.mui-btn, button, input[type="button"], input[type="reset"], input[type="submit"]{
	border-radius: 0;
}
input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea{
 border-radius: 0;
}
.mui-btn-block{
 padding: 10px 0;
}
.mui-badge.mui-badge-border{
  padding:2px 4px;
  border: 1px solid darkgray;
  background: transparent;
}
.mui-badge-primary.mui-badge-border, .mui-badge-blue.mui-badge-border
{
    color: #007aff;
    border: 1px solid #007aff;
    background-color: transparent;
}
.mui-badge-success.mui-badge-border, .mui-badge-green.mui-badge-border
{
    color: #4cd964;
    border: 1px solid #4cd964;
    background-color: transparent;
}
.mui-badge-warning.mui-badge-border, .mui-badge-yellow.mui-badge-border
{
    color: #f0ad4e;
    border: 1px solid #f0ad4e;
    background-color: transparent;
}
.mui-badge-danger.mui-badge-border, .mui-badge-red.mui-badge-border
{
    color: #dd524d;
    border: 1px solid #dd524d;
    background-color: transparent;
}
.mui-badge-royal.mui-badge-border, .mui-badge-purple.mui-badge-border
{
    color: #8a6de9;
    border: 1px solid #8a6de9;
    background-color: transparent;
}